* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    direction: rtl;
}
.main {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(209, 207, 207);
    display: flex;
}
.container {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 30px;
}
.header {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
.header button {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 8px;
    cursor: pointer;
}
.header button span:last-child {
    font-size: 20px;
}
.searchContainer {
    width: 300px;
    height: 35px;
    background-color: rgb(172, 170, 170);
    border-radius: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}
.searchContainer input {
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
}
.searchContainer input::placeholder {
    color: whitesmoke;
    font-size: 18px;
}
.searchContainer p {
    color: whitesmoke;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.headerLink {
    width: 120px;
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 5px;
    border-radius: 8px;
}
.menuBtn button {
    background-color: transparent;
    font-size: 25px;
    color: black;
    border: none;
    cursor: pointer;
}
.title {
    padding: 30px 2%;
}
.title h2 {
    font-size: 50px;
    color: black;
}
.mainContent {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    width: 300px;
    height: 130px;
    background-color: white;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10PX;
    transition: .3s;
}
.card:hover {
    background-color: #003F67;
}
.cardInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.cardInfo p {
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.cardIcon p {
    font-size: 85px;
    color: rgba(0, 0, 0, 0.5);
}
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
table {
    width: 90%;
    text-align: center;
}
table, th, td {
    padding: 16px;
    border-collapse: collapse;
}
thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    font-size: 30px;
}
tbody tr {
    font-size: 20px;
}
tbody tr:nth-child(even) {
    background-color: #0000000b;
}
tbody tr:hover {
    background-color: #fff6;
}
tbody tr td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
tbody tr td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
tbody tr td:last-child button {
    width: 50%;
    font-size: 25px;
    padding: 5px;
    border-radius: 28px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.delBtn {
    color: whitesmoke;
    background-color: #d30021;
}
.addBtn {
    color: whitesmoke;
    background-color: #132ECC;
}
tfoot {
    background-color: gray;
}
.shadowBox {
    display: none;
}
.shadowBox.open {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@media(max-width: 767px) {
    .header button {
        font-size: 15px;
        gap: 10px;
    }
    .header button span:last-child {
        font-size: 10px;
    }
    .searchContainer {
        width: 200px;
    }
    .menuBtn button {
        font-size: 20px;
    }
    .headerLink {
        width: 70px;
        font-size: 18px;
    }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title h2 {
        font-size: 30px;
    }
    thead th {
        font-size: 13px;
    }
    tbody tr {
        font-size: 11px;
    }
    tbody tr input {
        width: 30px;
    }
    tbody tr td:last-child button {
        font-size: 11px;
        border-radius: 50%;
    }
}