.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}
.card {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 2%;
}
.card button {
    width: 90%;
    padding: 7px;
    font-size: 25px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    border: none;
}
.printBtn {
    background-color: #86e49d;
}
.delBtn {
    background-color: #b30021;
}
.cardTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.cardTitle p {
    color: black;
    font-size: 20px;
}
.logo {
    width: 400px;
    height: 200px;
}
.cardInfo {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cardInfo p {
    color: black;
    font-size: 20px;
}
.productsTable {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productsTable table {
    width: 100%;
    border: 2px solid black;
}

@media(max-width: 767px) {
    .logo {
        width: 150px;
        height: 100px;
    }
}
@media print {
    .card button {
        display: none;
    }
}